html{
    background-color: #f2f2f2;
}
#main{
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 30px;
    font-family:'fangsong';
    text-align: center;
}

#link{
    position: absolute;
    color: black;
    bottom: 2%;
    left: 2%;
}